/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding-top: 1rem;
    padding-left: 2rem;
}
/* background colour  */
.bk-white{
    background-color: white;
}
.bk-blu{
    background-color: #46acf0;
}
.bk-purple{
    background-color: #9a70e3;
}
.bk-green{background-color: #65bfa9;
}
.bk-orange{
    background-color: #f19d32;
}
.bk-pink{
    background-color: #d762a0;
}
.bk-lightgreen{
    background-color: #afc826;
}
/* inblock diplay  */
.display-inblock{
    display: inline-block;
}
/* alineamento verticale */
.vert-align{
    vertical-align: middle;
}
.sezione-1{
    width: 70%;
    margin: 3rem auto 0;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
} 
.sezione-2{
    width: 70%;
    margin: .2rem auto;
    padding-left: 4rem;
    padding-top: 2.5rem;
}
/* font colour  */
.font-white{
    color: white;
}
.font-grey{
    color: grey;
}
/* button  */
button{
    padding: 0.5rem 1rem;
    border-radius: 15%;
}
ul,li{
    padding: 0.5rem;
}
span{
    border-radius: 40%;
    padding: 0.4rem;
    display: inline-block;
    width: 6rem;
    text-align: center;
}
.frecetta{
    list-style-type: "\1F893";
}
.spunta{
    list-style-type: "\2705";
}